<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>


<h1>マイページ</h1>

<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.png" %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>
</div>

<div class="masonry-gutter"></div>
          <% @fire_engines.each do |fire_engine| %>
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                  	<%= link_to fire_engine_path(fire_engine.id) do %>
                      <%= attachment_image_tag fire_engine, :image, :fill, 200, 200, format: 'jpeg' %>
                    <% end %>
                  </div>
                </div>

                <div class="block-content">

                  <h3 class="block-title">
                    <%= link_to fire_engine_path(fire_engine.id) do %>
                      <i class="fa fa-map-marker"></i><%= fire_engine.fireengine_name %>
                    <% end %>
                  </h3>

                  <p><%= fire_engine.caption %></p>
                  <ul class="inline-meta">
                    <li>By
                      <%= fire_engine.user.name %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>