<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <% if @user.id == current_user.id %>
    <h2>My page</h2>
  <% else %>
    <h2>User</h2>
  <% end %>
  <div class="col-lg-3">
    <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><p>name</p></td>
          <td><h3 class="profile-name"><%= @user.name %></h3></td>
        </tr>
      </tbody>
    </table>
    <% if @user.id == current_user.id %>
      <td><p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-left" %></p></td>
    <% end %>
  </div>

  <div class="container">
    <div class="col-lg-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><P>Image</P></th>
            <th><P>Title</P></th>
            <th><P>Caption</P></th>
            <th><P>contributor</P></th>
            <th><P>Comment</P></th>
          </tr>
        </thead>
        <tbody>
          <% @fire_engines.each do |fire_engine| %>
            <tr class="new-table">
              <td>
                <%= link_to fire_engine_path(fire_engine.id) do %>
                  <%= attachment_image_tag fire_engine, :image, :fill, 200, 200, format: 'jpeg' %>
                <% end %>
              </td>
              <td>
                <h3 class="block-title">
                  <%= link_to fire_engine_path(fire_engine.id) do %>
                    <i class="fa fa-map-marker"></i><%= fire_engine.fireengine_name %>
                  <% end %>
                </h3>
              </td>
              <td>
                <p><%= fire_engine.caption %></p>
              </td>
              <td>
                <%= fire_engine.user.name %>
              </td>
              <td>
                <%= link_to "#{fire_engine.post_comments.count} コメント", fire_engine_path(fire_engine.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @fire_engines %>
</div>