<div class="container">
  <h2>通報内容詳細</h2>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tbody>
          <tr>
            <td><p>通報日時</p></td>
            <td><%= @report.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td><p>違反者ID</p></td>
            <td><%= @report.user_id %></td>
          </tr>
          <tr>
            <td><p>違反者名</p></td>
            <td>
              <%= link_to user_path(@report.user.id) do %>
                <i class="fa fa-map-marker"></i><%= @report.user.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><p>違反投稿</p></td>
            <td>
              <%= link_to fire_engine_path(@report.fire_engine.id) do %>
                <i class="fa fa-map-marker"></i><%= @report.fire_engine.fireengine_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><p>通報内容表題</p></td>
            <td><%= @report.title %></td>
          </tr>
          <tr>
            <td><p>通報内容詳細</p></td>
            <td><%= @report.caption %></td>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>